<div class="container d-flex flex-row" data-category-filter-target="list">
  <div class="container col-7 mx-2">
    <div class= "wrapper">
      <% accomodations.each do |a| %>
        <div class="card h-100" style="width: 100%">
          <%= link_to accomodation_path(a) do %>
           <% if a.photos.attached? %>
            <%= cl_image_tag a.photos.first.key, class: "card-img-top img-custo", alt: a.title %>
           <% else %>
          <img class="card-img-top img-custo" src="<%= a.images %>" alt="<%= a.title %>">
           <% end %>
          <% end %>
          <div class="card-body">
            <div class="d-flex flex-row justify-content-between mb-1">
              <p class="tag"><%= a.category %></p>
              <p><strong><%= a.price %>€</strong>/night</p>
            </div>
            <h5 class="card-title"><%= link_to a.title, accomodation_path(a) %></h5>
            <p class="card-text"><%= a.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container col-5 mx-2">
    <div class="top-sticky" style="width: 100%; height: 460px;"
        data-controller="map"
        data-map-markers-value="<%= markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
