<%= form_with url: accomodations_path, method: :get, html: { data: { controller: "category-filter" }} do %>
  <div class="border-bottom d-flex flex-row justify-content-around py-3">
    <div class= "col-5 search-bar">
        <%= label_tag :destination, "Destination", class: "search-label" %>
        <%= text_field_tag :localisation, params[:localisation], class: "search-input", placeholder: "Paris, France" %>
        <%= label_tag :capacity, "Guests", class: "search-label" %>
        <%= select_tag(:capacity, options_for_select((1..10).to_a, params[:capacity].to_i), class: "search-input") %>
        <%= submit_tag "Search", class: "search-button" %>
    </div>
  </div>
  <div class = "container mx-5 my-3">
    <div class = "mx-5 col-6 d-flex flex-row justify-content-around">
      <div class ="text-center">
        <%= radio_button_tag :category, "cabin", data: { action:"change->category-filter#submit" } %>
        <i class="fa-solid fa-campground"></i><%= label_tag :cabin_category, "Cabin", style:"font-size: 14px;" %>
      </div>
      <div class ="text-center">
        <%= radio_button_tag :yurt_category, "yurt", data: { action:"change->category-filter#submit" } %>
        <i class ="fa-solid fa-tent"></i><%= label_tag :yurt_category, "Yurt", style:"font-size: 14px;" %>
      </div>
      <div class = "text-center">
        <%= radio_button_tag :category, "container", data: { action:"change->category-filter#submit" } %>
        <i class = "fa-solid fa-box" ></i><%= label_tag :container_category, "Container", style:"font-size: 14px;" %>
      </div>
      <div class = "text-center">
        <%= radio_button_tag :category, "tiny house", data: { action:"change->category-filter#submit" } %>
        <i class = "fa-solid fa-house" ></i><%= label_tag :tiny_category, "Tiny house", style:"font-size: 14px;" %>
      </div>
    </div>
  </div>
  <%= render partial: 'accomodations/accomodation_list', locals: { accomodations: @accomodations, markers: @markers } %>
<% end %>
