<div class="banner-title">
<div class="container p-5">
<h1 class="banner-title">Create a new accomodation</h1>
</div>
</div>
<div class="container">


<%= simple_form_for @accomodation do |f| %>
    <div class="d-flex">
        <div class="container p-5 m-2">
          <h4 class="question-title">Question 1</h4>
          <h3>Give your accomodation a title *</h3>
          <%= f.input :title, label: false%>
        </div>

        <div class="container p-5 m-2">
          <h4 class="question-title">Question 2</h4>
          <h3>Add a description</h3>
          <%= f.input :description, as: :text, label: false %>
        </div>
    </div>

    <div class="container p-5 m-2">
      <h4 class="question-title">Question 3</h4>
      <h3>Which of the following best describes your accommodation?</h3>
        <div class="type d-flex">
      <% [['Yurt', 'yurt', 'fa-tent'], ['Cabin', 'cabin', 'fa-campground'], ['Tiny House', 'tiny house', 'fa-house-house'], ['Container', 'container', 'fa-shipping-box']].each do |label, value, icon_class| %>
      <div class="radio-item">
        <%= f.radio_button :category, value, id: "category_#{value}", class: "hidden-radio" %>
        <label for="category_<%= value %>">
          <i class="fas <%= icon_class %>"></i>
          <%= label %>
        </label>
      </div>
    <% end %>
  </div>
    </div>

    <div class="container p-5 m-2">
      <h4 class="question-title">Question 4</h4>
      <h3>Where is your accomodation? *</h3>
      <%= f.input :localisation, label: false,
      input_html: {data: {address_autocomplete_target: "localisation"}, class: "d-none"},
      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
    </div>

  <div class="d-flex">
      <div class="container p-5 m-2">
        <h4 class="question-title">Question 5</h4>
        <h3>What's the price for one night? *</h3>
        <%= f.input :price, wrapper_html: { class: "mb-0-important" }, input_html: { value: 0, 'data-price-incrementation-target': 'price', class:"increment"}, label: false  %>
        </div>

      <div class="container p-5 m-2">
        <h4 class="question-title">Question 6</h4>
        <h3>What's the capacity ? *</h3>
          <div class="d-flex container-incrementation justify-content-center align-items-center" data-controller="capacity-incrementation">
         <button type="button" class="incrementation_button" data-action="click->capacity-incrementation#decrement">-</button>
          <%= f.input :capacity, wrapper_html: { class: "mb-0-important" }, input_html: { value: 1, 'data-capacity-incrementation-target': 'capacity', readonly: true, class:"increment"}, label: false  %>
        <button type="button" class="incrementation_button" data-action="click->capacity-incrementation#increment">+</button>
      </div>
  </div>
      </div>


<div class="container p-5 m-2">
      <h4 class="question-title">Question 7</h4>
      <h3>Which is the type of environment for your accomodation?</h3>
       <div class=" container type d-flex">
      <% [['Mountain', '0'], ['Coast', '1'], ['Countryside', '2'], ['Urban', '3']].each do |label, value| %>
      <div class="radio-item">
        <%= f.radio_button :environment_tag, value, id: "environment_tag#{value}", class: "hidden-radio" %>
        <label for="environment_tag<%= value %>">
          <%= label %>
        </label>
      </div>
    <% end %>
  </div>
</div>

    <div class="container p-5 m-2">
    <h4 class="question-title">Add images</h4>
    <h3>Click or drag and drop to add images</h3>

      <div class="drag-drop" data-controller="dropzone" data-action="click->dropzone#chooseFile">
        <%= f.input :photos, as: :file, input_html: { multiple: true, data: { dropzone_target: "fileInput" } }, label: false %>
        <div data-dropzone-target="preview"></div>

      </div>
    </div>


    <div class="container p-5 m-2">
      <%= f.submit "Create my new accomodation", class: "btn btn-success w-100" %>
    </div>
<% end %>
</div>
