<div class="show_hero_wrap">
  <div class="container" style="padding-bottom: 2.5rem">
  <div class="show_hero_layout">
    <div class="show_hero_left">
      <div class="show_header">
        <div class="icon_wrapper">
          <i class="fa-solid fa-location-dot"></i>
          <p><%= @accomodation.localisation %></p>
        </div>
        <h1 class="h1"><%= @accomodation.title %></h1>
        <div class="header_info">
          <div class="icon_wrapper">
            <i class="fa-solid fa-user"></i>
            <p><%= @accomodation.capacity %> people</p>
          </div>
          <div class="icon_wrapper">
            <i class="fa-solid fa-tree"></i>
            <p><%= @accomodation.environment_tag %> </p>
          </div>
        </div>
      </div>
      <div class="show_img_wrap">
        <% if @accomodation.photos.any? %>
          <%= cl_image_tag @accomodation.photos.first.key, class: "absolute_img", alt: "Image of an accomodation" %>
        <% end %>
      </div>
      <div class="show_description_wrap">
        <h2 class="h6">Description</h2>
        <p><%= @accomodation.description %></p>
      </div>
    </div>
    <div class="show_hero_right">
      <h2 class="h5">Select a date</h2>
      <div class="form_wrap">
        <div class="dates_wrap">
          <div class="date_wrap">
            <label class="h6" for="arrival">Arrival</label>
            <input type="date" id="arrival" name="arrival" />
          </div>
          <div class="date_wrap">
            <label class="h6" for="departure">Departure</label>
            <input type="date" id="departure" name="departure" />
          </div>
        </div>
        <div class="divider"></div>
        <div class="activity_wrap">
          <h6 class="h6">Your experiences</h6>
          <div class="activity_card">
            <div class="activity_card_frame">
              <div class="activity_card_height">
                <img
                  class=""
                  src=""
                  alt=""
                />
              </div>
            </div>
            <div class="form_activity_wrap">
              <p class="text-color-black">Lorem Ipsum</p>
              <p>4-9 mai 2024</p>
              <button><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="prices_wrap">
          <h6 class="h6">Pricing details</h6>
          <div class="prices_wrap">
            <div class="price_line_wrap">
              <div class="logic_price_wrap">
                <p>70,00€</p>
                <p>x</p>
                <p>5 nuits</p>
              </div>
              <p>350,00€</p>
            </div>
            <div class="price_line_wrap">
              <p>Frais de service</p>
              <p>23,00€</p>
            </div>
            <div class="price_line_wrap">
              <p>Total</p>
              <p>373,00€</p>
            </div>
          </div>
        </div>
      </div>
      <button class="button" style="margin-top: 2rem">Book a trip</button>
    </div>
  </div>
</div>
