<div class="show_hero_wrap">
  <div class="container-show" style="padding-bottom: 2.5rem">
  <div class="show_hero_layout">
    <div class="show_hero_left">
      <div class="show_header">
        <div class="icon_wrapper">
          <i class="fa-solid fa-location-dot"></i>
          <p><%= @accomodation.localisation %></p>
        </div>
        <h1 class="h1"><%= @accomodation.title %></h1>
        <div class="header_info">
          <div class="icon_wrapper">
            <i class="fa-solid fa-user"></i>
            <p><%= @accomodation.capacity %> people</p>
          </div>
          <div class="icon_wrapper">
            <i class="fa-solid fa-tree"></i>
            <p><%= @accomodation.environment_tag %> </p>
          </div>
        </div>
      </div>
      <div class="show_img_wrap">
        <% if @accomodation.photos.any? %>
          <%= cl_image_tag @accomodation.photos.first.key, class: "absolute_img", alt: "Image of an accomodation" %>
        <% end %>
      </div>
      <div class="show_description_wrap">
        <h2 class="h6">Description</h2>
        <p><%= @accomodation.description %></p>
      </div>
    </div>
    <div class="show_hero_right" data-controller="price-detail" data-price-detail-price-value="<%= @accomodation.price.round %>">
      <h2 class="h5">Select a date</h2>
      <%= simple_form_for [@accomodation, @booking] do |f| %>
        <div class="form_wrap">
          <div class="dates_wrap">
            <div class="date_wrap">
              <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker", price_detail_target: "startDate" } } %>
            </div>
            <div class="date_wrap">
              <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker", price_detail_target: "endDate", action: "change->price-detail#toggle" } } %>
            </div>
          </div>
          <div class="divider"></div>
          <div class="activity_wrap">
            <h6 class="h6">Your experiences</h6>
            <div class="activity_card">
              <div class="activity_card_frame">
                <div class="activity_card_height">
                  <img
                    class="absolute_img"
                    src="https://images.unsplash.com/photo-1521336575822-6da63fb45455?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt=""
                  />
                </div>
              </div>
              <div class="form_activity_wrap">
                <p class="text-color-black">Lorem Ipsum</p>
                <p>4-9 mai 2024</p>
                <button><i class="fa-solid fa-trash"></i></button>
              </div>
            </div>
          </div>
          <div class="divider"></div>
          <div class="prices_wrap">
            <h6 class="h6">Pricing details</h6>
            <div class="prices_wrap d-none" data-price-detail-target="priceWrapper">
              <div class="price_line_wrap">
                <div class="logic_price_wrap">
                  <p><%= @accomodation.price.round %>€</p>
                  <p>x</p>
                  <p data-price-detail-target="numberOfNights"></p>
                </div>
                <p data-price-detail-target="total"></p>
              </div>
            </div>
          </div>
        </div>
        <%= f.button :submit, class: "button", style: "margin-top: 2rem" %>
      <% end %>
    </div>
  </div>
</div>

<div class="show_activity_wrap">
  <div class="container">
    <div class="show_activity_layout">
        <div class="activity_card_item">
          <div class="activity_card_img_frame">
              <div class="activity_card_img_height">
                    <img class="absolute_img" src="https://images.unsplash.com/photo-1506126613408-eca07ce68773?q=80&w=2202&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
              </div>
          </div>
          <div class= "activity_card_info_wrap">
            <h3 class="h6">Yoga</h3>
            <p>9 juil - 14 juil </p>
          </div>
          <button class="button">Add activity</button>
        </div>
        <div class="activity_card_item">
          <div class="activity_card_img_frame">
              <div class="activity_card_img_height">
                    <img class="absolute_img" src="https://images.unsplash.com/photo-1506126613408-eca07ce68773?q=80&w=2202&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
              </div>
          </div>
          <div class= "activity_card_info_wrap">
            <h3 class="h6">Yoga</h3>
            <p>9 juil - 14 juil </p>
          </div>
          <button class="button">Add activity</button>
        </div>
        <div class="activity_card_item">
          <div class="activity_card_img_frame">
              <div class="activity_card_img_height">
                    <img class="absolute_img" src="https://images.unsplash.com/photo-1506126613408-eca07ce68773?q=80&w=2202&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
              </div>
          </div>
          <div class= "activity_card_info_wrap">
            <h3 class="h6">Yoga</h3>
            <p>9 juil - 14 juil </p>
          </div>
          <button class="button">Add activity</button>
        </div>
    </div>
  </div>
</div>
